.software-grid > section {
	margin-top: 30px;
}

.software-grid > section > div:first-child {
	padding-bottom: 26px;
}
.software-grid > section > div:last-child {
	margin: -16px 10px 0 10px;
	padding: 0 !important;
	overflow: hidden;
}

.software-grid details:not(:last-child) {
	border-bottom: 1px solid #bfbfbf;
}
.software-grid details > * {
	padding: 10px;
}

.software-grid i {
	width: 22px;
	text-align: center;
}
.software-grid p {
	margin-top: 10px;
}

.software-grid summary {
	cursor: pointer;
	outline: none;

	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.software-grid summary:hover {
	background-color: #f4f4f4;
}
.software-grid summary span {
	float: right;
}

@media (prefers-color-scheme: dark) {
	.software-grid summary:hover {
		background-color: #333333;
	}
}
