* {
	font-family: verdana, sans-serif;
	box-sizing: border-box;
	font-size: 14px;
	line-height: 1.5;
	margin: 0;

	transition: 0.2s ease;
}

body {
    background-color: #f9f9f9;
}

.frame {
	width: 70%;
	max-width: 1800px;
	margin: auto;
}

.title {
	opacity: 0.6;
	padding: 10px;
}

.section {
	padding: 20px 0;
}

.magicard .section {
	padding: 20px 10px;
}
.section-bottom {
	padding: 0 10px;
	margin-bottom: 20px;
}

.separator {
	border-top: 1px solid gray;
}

.buttonbar {
	padding: 0 !important;
	margin: 0 auto;
	width: max-content;
	display: flex;
	overflow: hidden;
}
.buttonbar > * {
	padding: 8px;
}
.buttonbar > i:first-child {
	line-height: 18px;
}
.buttonbar > span {
	cursor: pointer;

	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.buttonbar > span:hover, a.card:hover, .card.hover:hover, .hoverblock:hover, #search > .card:hover {
	background-color: #f4f4f4 !important;
}

#modal {
	position: fixed;
	top: 0;
	width: 100vw;
	display: none;
}
#modal > header {
	margin: 0;
	position: relative; /* that's dirty */
}
#modal > iframe {
	border: 0;
	width: 100vw;
	height: calc(100vh - 45px);
	background-color: white;
}

.card:not(.invisible), .card.invisible:hover, #search, .magicard[open] {
	box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.4); /* Old: 1px 1px 3px 0px rgba(0, 0, 0, 0.5), Firefox: 0 1px 8px 0 rgba(12, 12, 13, 0.2) */
}
.card:not(.invisible), #search, .magicard[open] {
	background-color: white;
}
.card, #search, .magicard:not(.section), summary {
	border-radius: 6px; /* Old: 5px, Firefox: 3px */
	overflow: hidden;
}

#search {
	position: fixed;
	top: 0;
	width: 100vw;
	display: none;
	border-radius: 6px;

	height: 100vh;
	overflow: auto;
}

#searchbox {
	width: calc(100% - 40px);
	box-shadow: none;
	border: 1px solid grey;
	border-radius: 6px;
}

.current {
	position: relative;
	padding: 10px;
	font-weight: bold;
}
.current::after {
	content: "";
	border: 10px solid transparent;
	border-bottom-color: white;
	position: absolute;
	bottom: 0;
	left: calc(50% - 8px);
}

.card, .padding {
	padding: 10px;
}
.card {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

a {
	color: black;
	text-decoration: none;
}

.left {
	float: left;
}
.right {
	float: right;
}

i.right {
	margin-top: 4px;
	margin-left: 6px;
}

img.left {
	width: 64px;
	margin-right: 8px;
}

header, .header {
	display: flex;
	justify-content: space-between;
}
header * {
	color: inherit;
}

header:not(.invisible) {
	box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.5);
	background-color: #0033cc;
	color: #ffffff;
}
header.invisible > div > a:last-child {
	display: none;
}

header a, header .hbutton {
	padding: 10px;
	cursor: pointer;
}
header a:hover, header .hbutton:hover {
	background-color: #0033cc;
	filter: brightness(120%);
}

b {
	font-size: larger;
}

i:not(.fas):not(.fab), .opacity {
	font-style: normal;
	opacity: 0.5;
}
i.fas, i.fab, .nosmall {
	font-size: inherit;
}

.flex {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-gap: 16px;
}
.flex > a > b {
	overflow: hidden;
	white-space: nowrap;
	display: inline-block;
	max-width: calc(100% + 10px);
}

.blue {
	background-color: #ccd9ff;
}

.hover, a, .invisible, .childhover > * {
	cursor: pointer;

	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.hover:hover {
	filter: brightness(96%);
}
.hover:active {
	filter: brightness(92%);
}

a.hover, a.hover > i {
	color: dodgerblue !important;
}
a.float {
	float: right;
}

.hoverblock {
	display: block;
	padding: 10px;
}

.tag {
	color: white;
	background-color: #666666;
	padding: 0 4px;
	border-radius: 4px;
	margin-top: 4px;
	white-space: nowrap;
	display: inline-block;
}

.hidden {
	display: none !important;
}

.column {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 16px;
}

.bold {
	font-weight: bold;
}


.supersecretbutton {
	opacity: 0.5;
}

.linkwithsecretbutton:not(:hover) .supersecretbutton {
	opacity: 0;
}


ul {
	padding: 10px 0 10px 40px;
}


summary {
	cursor: pointer;
	outline: none;

	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
summary:hover {
	background-color: #f4f4f4;
}



#search, #modal {
	animation: float 0.2s ease;
}

@keyframes float {
	from {
		opacity: 0;
		transform: translateY(50px);
	}

	to {
		opacity: 1;
		transform: none;
	}
}



@media (max-width: 800px) {
	.nosmall { display: none; }
}

@media (max-width: 515px) {
	.frame { width: 100%; }
	.card { border-radius: 0 !important; }
	.column { grid-template-columns: 1fr; }
}

@media (min-width: 515px) {
	#modal {
		width: 80vw;
		left: 10vw;
		top: 10vh;
	}
	#modal > iframe {
		width: 80vw;
		height: calc(80vh - 45px);
	}

	#search {
		width: 60vw;
		left: 20vw;
		top: 40px;

		height: auto;
		max-height: calc(100vh - 80px);
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #232323;
	}

	.card:not(.invisible), #search, #modal > iframe, .magicard[open] {
		background-color: #2d2d2d;
	}
	.buttonbar > span:hover, a.card:hover, .card.hover:hover, .hoverblock:hover, #search > .card:hover, summary:hover {
		background-color: #333333 !important;
	}

	*:not(#searchbox), a {
		color: #f9f9f9;
	}
}
